ldap:
    host: ldap.eionet.europa.eu
    port: 636
    encoding: utf-8
    root_DNs:
        - ou=Users,o=EIONET,l=Europe
    dn: dn_of_unlimited_size_queries_account
    password: password_goes_here
sqlite:
    path: ./ldap_eionet_europa_eu.db

logging:
    file: ./log.txt

# For full Eionet Profile overview, get to know the external services
endpoints:
    -
        title: Eionet Central Data Repository
        website: http://cdr.eionet.europa.eu
        url: http://cdr.eionet.europa.eu/ReportekEngine/show_local_roles
        user: profileoverview
        password: fd87f-+#48r
    -
        title: Eionet Forum
        website: http://forum.eionet.europa.eu
        url: http://forum.eionet.europa.eu/profileoverview
        user: profileoverview
        password: xxx4554
    -
        title: Eionet Projects
        website: http://projects.eionet.europa.eu
        url: http://projects.eionet.europa.eu/profileoverview
        user: profileoverview
        password: xxxasdfd
